hostname {{ hostname }}

ip name-server {{ primary_dns_server }}
ip domain lookup source-interface Management1

ntp source Management1
ntp server {{ primary_ntp_server }}
ntp server {{ secondary_ntp_server }}

lldp run
