system {
    host-name {{ hostname }}
    name-server {
        {{ primary_dns_server }};
    }
    ntp {
        server {{ primary_ntp_server }};
        server {{ secondary_ntp_server }};
    }

}
protocols {
    lldp {
        interface all;
    }
}
