{% for iface in interfacesbb %}
interfaces {
    {{ iface.name }} {
        description {{ iface.description }};
        vlan-tagging;
{% for vlan in vlans %}
        unit {{ vlan.id }} {
          vlan-id {{ vlan.id }};
        }
{% endfor %}
    }
}
{% endfor %}
